<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="DeveloperMode" value="1" />
  <add key="owin:AutomaticAppStartup" value="false" />
  <add key="ezKey" value="cloudeip"/>
  <add key="ezAppNo" value="EIP"/>
  <add key="SQLCA" value="正式區"/>
  <add key="SQLCB" value="測試區"/>
  <add key="ezErrorPage" value="~\ezError.aspx"/>
  <add key="ezFormTestMode" value="0"/>
  <add key="ezFormMode" value="DisplayMode"/>
  <add key="ezFormUserID" value="0"/>
  <add key="ezFormPrgID" value="0"/>
  <add key="ezFormLanguage" value="zh-TW"/>
  <add key="ezFormFlowID" value="0"/>
  <add key="ezFormFormID" value="0"/>
</appSettings>
