<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="SQLCA" connectionString="Data Source=.;Initial Catalog=tailin;User ID=sa;Password=johnson0416" providerName="System.Data.SqlClient" />
  <!--<add name="SQLCA" connectionString="Data Source=.\SQL2012;Initial Catalog=ezcloudeip;User ID=sa;Password=10558167" providerName="System.Data.SqlClient" />-->
  <!--<add name="SQLCA" connectionString="Data Source=.;Initial Catalog=hacglobal;User ID=sa;Password=johnson0416" providerName="System.Data.SqlClient" />-->
</connectionStrings>
